.app__menu-overview{
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.app__menu-overview p{
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--color-brown);
  margin-bottom: 5rem;
}

.app__menu-overview-container{
  gap: 1rem;
  position: relative;
}

.app__menu-overview-item{
  flex: 1;
  aspect-ratio: 1;
  overflow: hidden;
  flex-direction: column;
}

.app__menu-overview-item img{
  width: 100%;
  min-height: 85%;
  object-fit: cover;
}

.app__menu-overview-item p{
  width: 100%;
  min-height: 15%;
  background-color: var(--color-brown);
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

@media screen and (max-width: 850px){
  .app__menu-overview p{
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 650px){
  .app__menu-overview-container{
    display: block;
  }

  .app__menu-overview-item p{
    font-size: 1rem;
  }
}